@import url('https://fonts.cdnfonts.com/css/rock-salt');
@import url('https://fonts.cdnfonts.com/css/unica-one');
@import url('https://fonts.cdnfonts.com/css/mali');

#bubbles {
    display: none;
}


html {
    background-color: transparent!important;
}

button#styleDark,  button#styleAnim, button#style{
    background-color:  rgb(0, 0, 73);
    border-radius: 2rem;
    border: none;
    color: white;
    padding: 0.5% 2% 0.5% 2%;
    cursor: pointer;
    font-size: 1em;
}


body {
    background-image: url("../img/Mass Circles.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.portrait {
    width: 600px;
    height: 600px;
}

.subtitle {
    padding-left: 500px;
    border-radius: 4rem;
    text-shadow: rgb(0, 0, 73) 2px 2px;
    font-family: 'Rock Salt', sans-serif;
    margin-top: -3rem!important;

}

.title {
    text-shadow: rgb(0, 0, 73) 2px 2px;
    background: #085e98;
    margin:0% 30% 0% 30%;
    border-radius: 4rem;
    padding: 2%;
    font-family: 'Mali', sans-serif;
}
.collageimg {
    border:  rgb(0, 0, 73) 6px solid;
    border-radius: 1rem;

}
.intro {
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
}

.introtext {
    color: #c4c0e3;
}

.sparkle1 {
    max-width: 10%;
    position: absolute;
    right: 7%;
}

.sparkle2 {
    max-width: 7%;
    position: absolute;
    right: 30%;
    top: 60%;
}

.artworkShowcase {
    margin: 0 10% 0 10%;
}

.skillsetimg {
    max-width: 60%;
    padding: 3%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery-column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.lastColumnImg {
    margin: 4px;
}

.hiddenPic {
    display: none
}

.skillsection {
    display: flex;
    justify-content: center;
}

.skillsetdiv {
    border-radius: 1rem;
    padding: 1em;
    border:  rgb(0, 0, 73) 7px solid;
    margin: 1%;
    background-color: rgb(0, 0, 73);
}

.skilltext, h3 {
    color: #c4c0e3;
}

h3 {
    background: rgb(0, 0, 73);
    padding: 0;
}

h2 {
    margin-left: 10%;
}

.pDiv {
    background: rgb(0, 0, 73);
    border-radius: 25px;
    padding: 3%;
    margin: 0% 5% 0% 5%;
    width: 55%;

}

.contacttext {
    background: rgb(45, 45, 124);
    border-radius: 25px;
    margin: 1%;

}


li:before {
    content: url("/img/favicon.png");
    max-width: 10%;
}

h1:before {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: rgb(133, 77, 189) solid;
    border-bottom: 50px solid transparent;
}

.footer-link, .footer-link:visited {
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    background-color: rgba(93, 72, 168, 0.6);
    padding:0 1% 0 1%;
    border-radius: 1rem;

}

.mockupimg {
    max-width: 27%;
    margin: 0.5em;
}

.mockupDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.btn {
    background: rgb(45, 45, 124);
    border-radius: 2rem;
    border: none;
    color: #c4c0e3;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(68, 133, 178);
    border-radius: 2rem;
    padding: 12px 30px;
}

.downloadDiv {
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .mockupDiv {
        display: flex;
        flex-direction: column;
    }
    .mockupimg {
        max-width: 70%;
        align-self: center;
    }

    #btn-group {
        margin-bottom: 10%;
    }
}


@media screen and (max-width: 800px) {
    .gallery-column {
        flex: 50%;
        max-width: 50%;
    }

    .hiddenPic {
        display: none;
    }

    .lastColumnRow {
        display: flex;
        flex-direction: row;

    }

    li:before {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .gallery-column {
        flex: 100%;
        max-width: 100%;
    }

    .lastColumnRow {
        display: flex;
        flex-direction: column;

    }
    button.clickButton {
        padding: 1.5%!important;

    }
}

@media screen and (max-width: 1300px) {

    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .artworkShowcase {
        padding: 0 !important;
        margin: 0 !important;
    }

    article {
        display: flex;
        flex-direction: column;
    }

    .pDiv {
        width: 100%;
    }
}

@media screen and (max-width: 780px) {

    .title {
        margin: 5px 0 5px 0;
    }

    .title:not(:last-child) {
        margin-bottom: -1rem!important;
    }

    .subtitle {
        padding-left: 0;
        margin-top: 4px!important;
    }

    .mockupDiv {
        display: flex;
        flex-direction: column;
    }
    .mockupimg {
        max-width: 90%;
        align-self: center;
    }
}

@media screen and (max-width: 700px) {
    .portrait {
        width: 350px;
        height: 350px;
    }

}

@-moz-document url-prefix() {
    #last {
        max-width: 100%;
    }
}




/*copyright datenschutz impressum back to top for mobile*/
